.Restaurant-text {
  font-size: calc(10px + 2vmin);
  color: '#5F6368';
}

/* Defunct */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Fonts*/
/* open-sans-regular - latin */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/open-sans-v27-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/open-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/open-sans-v27-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/open-sans-v27-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-500italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/open-sans-v27-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/open-sans-v27-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v27-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v27-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v27-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v27-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
